$font-stack: "Roboto", sans-serif;
$body-background-color: rgb(242, 242, 242);
$default-button-color: rgb(15, 203, 128);
$light-button-color: rgb(84, 245, 181);
$dark-button-color: rgb(29, 143, 97);
$primary-color: rgb(15, 203, 128);
$gap-width: 15px;

$container-width: 75%;
$item-border-color: #ccc;
$item-border-radius: 8px;
$image-size: 200px;

$font-size-big: 80px;
$font-size-medium: 40px;
$font-size-small: 20px;

$buttons: (
  "default": $default-button-color,
  "dark": $dark-button-color,
  "light": $light-button-color
);