$font-stack: "Roboto", sans-serif;
$body-background-color: rgb(242, 242, 242);
$default-button-color: rgb(15, 203, 128);
$light-button-color: rgb(138, 242, 200);
$dark-button-color: rgb(29, 143, 97);
$primary-color: rgb(15, 203, 128);
$gap-width: 15px;
