a.button {
  @include buttonTheme($default-button-color);
  @include container($direction: row);
  transition: background 0.3s ease;

  &:hover {
    background-color: make-darker($default-button-color);
  }
}

a.button-dark {
  @include buttonTheme($dark-button-color, white);
  transition: background 0.3s ease;

  &:hover {
    background-color: make-darker($dark-button-color);
  }
}

a.button-light {
  @include buttonTheme($light-button-color);
  transition: background 0.3s ease;

  &:hover {
    background-color: make-darker($light-button-color);
  }
}

%button-social-base {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  text-align: center;
}
