@each $name, $color in $buttons {
  a.button-#{$name} {
    @include buttonTheme($color);
    transition: background 0.3s ease;

    &:hover {
      background-color: make-darker($color);
    }
  }
}

%button-social-base {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  text-align: center;
}
