@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/variables.scss";
@import "components/buttons.scss";
@import "components/navbar.scss";
@import "layout/header";
@import "layout/footer";
@import "pages/animals";
@import "pages/home";
@import "pages/animal-details";
@import "pages/about";

* {
  box-sizing: border-box;
}
html,
body {
  font-family: $font-stack;
  background-color: $body-background-color;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
