.animal-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $gap-width * 2;
  max-width: $container-width * 1.5;
  padding: $gap-width * 1.5;
  text-align: left;

  img {
    width: 100%;
    max-width: $image-size * 2;
    height: auto;
    border-radius: $item-border-radius * 2;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
  }

  .animal-name {
    font-size: $font-size-big;
    font-weight: bold;
    color: black;
    margin-bottom: $gap-width / 4;
  }

  .animal-description {
    font-size: $font-size-small;
    color: black;
    max-width: $image-size * 5;
    margin-top: 0;
  }
}

@media (max-width: 900px) {
  .animal-details {
    flex-direction: column;
    align-items: center;
    width: $container-width * 0.8;
    padding: $gap-width;

    img {
      width: 80%;
      max-width: $image-size * 1.5;
    }

    .info {
      width: 100%;
      text-align: left;
    }
  }
}

@media (max-width: 600px) {
  .animal-details {
    width: 100%;
    padding: $gap-width / 2;

    img {
      width: 100%;
    }
  }
}
