.content {
  @include container();

  h1 {
    font-size: calc(3vw + 10px);
  }
  .links {
    @include container($direction: row);
  }

  #landing-photo {
    border-radius: 25px;
    width: 50%;
  }
}

.alert-message {
  text-align: center;
  font-size: $font-size-small; 
  margin: 20px 0; 
}

.sponsors-heading {
  font-size: $font-size-big;
  text-align: center;
}

.links {
  margin-bottom: $gap-width * 10;
}

.sponsors {
  @include container($direction: row);
  flex-wrap: wrap; 
  gap: $gap-width; 

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-medium;

    img {
      width: 1em;
      height: 1em;
      object-fit: contain;
    }
  }
}
