.content {
  @include container();

  h1 {
    font-size: calc(3vw + 10px);
  }
  .links {
    @include container($direction: row);
  }

  #landing-photo {
    border-radius: 25px;
    width: 75%;
  }
}

.sponsors {
  @include container($direction: row);
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;

    img {
      width: 1em;
      height: 1em;
      object-fit: contain;
    }
  }
}
