@import "../helpers/mixins.scss";
@import "../helpers/variables.scss";

.content {
  @include container();
  h1 {
    font-size: 5vw;
  }
  .links {
    @include container($direction: row);
  }
}

.sponsors {
  @include container($direction: row);
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
  }
}
